{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div class="">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descricion</th>
                <th scope="col">Precio</th>
                <th scope="col">Categoria</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.active?'Activo':'Inactivo' }}</td>
                    <td>
                        {#                        <div class="dropdown"> #}
                        {#                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" #}
                        {#                                    aria-expanded="false"> #}
                        {#                                Acciones #}
                        {#                            </button> #}
                        {#                            <ul class="dropdown-menu"> #}
                        <ul>
                            <li><a class="dropdown-item"
                                   href="{{ path('product_details',{'id':product.id}) }}">Detalles</a></li>
                            <li><a class="dropdown-item" href="{{ path('product_edit',{'id':product.id}) }}">Editar</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{{ path('product_change_status',{'id':product.id}) }}">{{ product.active?'Inactivar':'Activar' }}</a>
                            </li>
                        </ul>
                        {#                        </div> #}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
