{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                Client Details
            </div>
            <div class="card-body">
                <h5 class="card-title">Name: {{ order.client.nickname }}</h5>
                <p class="card-text">Email: {{ order.client.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="align-content-end">
                Items
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for item in order.orderItems %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.product.description }}</td>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.product.price * item.quantity }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <td colspan="4" content="left">
                Total:
            </td>
            <td colspan="1">
                {{ order.totalCost }}
            </td>
            </tfoot>
        </table>
        <div class="card">
            <div class="card-header">
                Status
            </div>
            <div class="card-body">
                <h5 class="card-title">Status: {{ order.status.label }}</h5>
                {% if order.status.requested %}
                    <a type="button" class="btn btn-primary"
                       href="{{ path('order_change_status',{id:order.id,status:constant('App\\Entity\\OrderStatus::InProcess').value}) }}">Change
                        to In Process</a>
                {% elseif order.status.inProcess %}
                    <a type="button" class="btn btn-success"
                       href="{{ path('order_change_status',{id:order.id,status:constant('App\\Entity\\OrderStatus::Completed').value}) }}">Mark
                        as Completed</a>
                    <a type="button" class="btn btn-danger"
                       href="{{ path('order_change_status',{id:order.id,status:constant('App\\Entity\\OrderStatus::Rejected').value}) }}">Cancel</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}