{% extends 'base.html.twig' %}

{% block title %}Order List!{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Client</th>
                <th scope="col">Status</th>
                <th scope="col">Total Items</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Details</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.client.nickname }}</td>
                    <td>{{ order.status.label }}</td>
                    <td>{{ order.totalItems }}</td>
                    <td>{{ order.totalCost }}</td>
                    <td><a type="button" class="btn btn-info"
                           href="{{ path('order_details',{'id':order.id}) }}">Details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
