{% extends 'base.html.twig' %}

{% block title %}Order List!{% endblock %}

{% block body %}
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Client</th>
                <th scope="col">Status</th>
                <th scope="col">Total Items</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.client.nickname }}</td>
                    <td>{{ order.status.label }}</td>
                    <td>{{ order.totalItems }}</td>
                    <td>{{ order.totalCost }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"
                                       href="{{ path('order_details',{'id':order.id}) }}">Details</a></li>
{#                                <li><a class="dropdown-item"#}
{#                                       href="{{ path('order_edit',{'id':order.id}) }}">Edit</a>#}
{#                                </li>#}
{#                                <li><a class="dropdown-item"#}
{#                                       href="{{ path('order_change_status',{'id':order.id}) }}">{{ order.active?'Inactive':'Active' }}</a>#}
{#                                </li>#}
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
